/* IMPORT POLICE */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* ON L'APPLIQUE A TOUTE LA PAGE */
html{
    height: 100%;
}
body {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.2em;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    }

#topbanner {
    max-height: 7%;
    
}

.jumbotron {
    padding: 0;
    margin-bottom: 0;
}

.navbar-expand-md {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

a {
    text-decoration: none;
}

.navbar-nav {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    
}

.iconne{
    display: none;
    
}
.iconne, .enlettre {
    color: #989ba0;
    
}

a.enlettre:hover, a.iconne:hover {
    text-decoration: none;
    color:#bcc0c8;
    
}

.contact {
    margin: auto;
}

.envoy {
    margin: auto;
    display: block;
}
.my_form {
    max-width: 70%;
    margin: auto;
}
 
.form-group {
    width: 55%;
    margin: auto;
}

.form_log {
    display: inline-block;
}

.vid_box{
    text-align: center;
}

.content{
    text-align: center;
    background-color: #f45201
}
#card {
    width: 100%;
}

.block_part{

}

.band_part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;    
}
.card-title, .text-card{
    text-align: center;
}

.navbar-expand-md .navbar-nav .dropdown-menu {
    position: inherit;
}
/**********************************/
/******** Bloc 3 images ***********/
/**********************************/

.row {
    margin: auto;
    display:-webkit-inline-box;
    display:-ms-inline-flexbox;
    display:inline-flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: #f45201;
    width:100%;
    padding:10px;
}

.offres {
    text-align: center
}

ul li {
    list-style-type: none;
}

/**********************************/
/******** FIN Bloc 3 images *******/
/**********************************/


/**********************************/
/******** Pour Footer *************/
/**********************************/

footer, .back-orange {
    background-color: #f45201;
}
.blockpost{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding:0 1% 0 1%;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}
.fa-facebook {
color:var(--colortext);
}

.fa-twitter {
color:var(--colortext);
}

.fa-google {
color:var(--colortext);
}

.fa-linkedin {
color:var(--colortext);
}

.fa-youtube {
color:var(--colortext);
}

.fa-instagram {
color:var(--colortext);
}

p.real {
    font-size: 0.7em;
}


/**********************************/
/********** Fin Footer ************/
/**********************************/


/******************/
/* Pour Parallaxe */
/******************/

.bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity: 0.65;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.bgimg-1 {
    background-image: url("bgimg-1.jpg");
    min-height: 100%;
}

.bgimg-1-2 {
    background-image: url("IMG_2744.JPG");
    min-height: 80%;
  }  

.bgimg-2 {
    background-image: url("stadium-2921657-1920-1.jpg");
    min-height: 400px;
  }

  .bgimg-3 {
    background-image: url("IMG_2466.JPG");
    min-height: 80%;
  }  

.bgimg-4 {
    background-color: rgba(96, 201, 75, 0.884);
    min-height: 150%;
        
}

.caption {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: #000;
    font-weight: bold;
}

.caption-contact {
    position: absolute;
    left: 0;
    top: calc(100vw/4.5);
    width: 100%;
    text-align: center;
    color: #000;
    font-weight: bold;
}


/******************/
/* Fin Parallaxe */
/******************/

/**************************************/
/******** Media Queries ***************/
/**************************************/


@media (max-width: 767px){
    .blockpost{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }
    .enlettre{
        display: none;
    }
    .iconne{
        display: block;
    }
    .my_form{
        max-width: none;
        margin: auto;
    }
    .caption{
        top: 20%;
    }
    .form_log{
        margin-top: 15%;
    }
    .form-group{
        width: 90%;
        font-size: 0.75em;
    }
    #id_message{
        height: 40%;
    }
    .envoy{
        position: relative;
        margin: auto;
        display: block;
        top: -7em;
    }
    #cv_video{
        width: 320px;
    }
    .text-card{
        display: none;
    }
    .band_part{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}

/**************************************/
/******* Fin Media Queries ************/
/**************************************/