{% extends "base.html" %}

{% block sidenav %}

{% include '_menu.html' %}

{% endblock sidenav %}

{% block formulaire %}
<div class="bgimg-1">    
    <div class="caption-contact">
{% if form.errors %}
  <p>Votre nom d'utilisateur et votre mot de passe ne correspondent pas. Merci d'essayer de nouveau</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Votre compte ne vous permet pas d'accéder à cette page. 
    Utilisez un compte qui a accès à cette page</p>
  
  {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>

<tr>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</tr>

<tr>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="Connexion" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Mot de passe oublié?</a></p>
</div>
</div>
{% endblock %}