{% extends "base.html" %}
{% block sidenav %}
    <li class="nav-item">
            <a class="nav-link" href="/"> Footexperts </a>
        </li>
{% endblock sidenav %}
{% block formulaire %}
<div class="bgimg-1">    
<div class="caption-contact">
  <div class="form_log">
  <form action="" method="post">
  
  <p>Merci de saisir votre email</p>
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
      <p>{{ form.email }}</p> 
    <input type="submit" class="btn btn-default btn-lg" value="Renouveller le mot de passe">
  </form>
</div>  
</div>
</div>  
{% endblock %}