{% extends "base.html" %}

{% block title%} Contactez Nous:  {% endblock title%}
{% block sidenav %}
    <li class="nav-item">
            <a class="nav-link" href="/"> Footexperts </a>
        </li>
{% endblock sidenav %}

{% block formulaire %} 
<div class="bgimg-1">
    <div class="caption-contact">
        
            <h2> Contactez nous: </h2>
            {% if submitted %}
            <p class="success">
            Votre message a été envoyé avec succès, merci</p>


            {% else %}
                <div class="contact">
                    <form action="" method="post">
                    
                    {{ form.as_p }}
                    {% csrf_token %}
                    <input type="submit" value="Envoyer" class="envoy">
                </form>
                
                </div>
               
                    
                
            {% endif %}
        
    </div>
</div>
 {% endblock formulaire %}

