{% extends 'base_fixe.html' %}

{% block sidenav %}
    <li class="nav-item">
            <a class="nav-link" href="/"> Footexperts </a>
        </li>
{% endblock sidenav %}

{% block formulaire %}
    <div class ="bgimg-4">
        <div class="caption">
        <h2>{{ object.joueur }} détail de suivi: </h2>
        <table class='table table-bordered my_form'>
        <tr>
        <th scope='row'> DATE: </th><td> {{ object.suivobs_date }}</td>
        </tr>
        <tr>
        <th> COACH: </th><td>{{ object.coach }} </td>
        </tr>
        <tr>
        <th scope='row'> THEME: </th><td>{{object.suivobs_theme}}</td>
        </tr>
        <tr>
        <th scope='row'> TRAVAIL: </th><td>{{object.suivobs_travail}}</td>
        </tr>
        <tr>
        <th scope='row'>  OBSERVATIONS: </th><td>{{object.suivobs_observation}}</td>
        </tr>
        <tr>
        <th scope='row'>  AXE DE PROGRES: </th><td>{{object.suivobs_axeprogres}}</td>
        </tr>
        </table>
        {% if user.is_staff%}
            <a href="{% url 'suivobs_creation' object.joueur.id %}">Nouveau Suivi</a>
        
        {% endif %}        
        </div>            
    </div>
{% endblock formulaire %}