{% extends "base_fixe.html" %}
{% block sidenav %}
    <li class="nav-item">
            <a class="nav-link" href="/"> Footexperts </a>
        </li>
{% endblock sidenav %}

{% block formulaire %}
    <div class="bgimg-4">
      <div class="caption-contact">
        <p>{{ user.first_name }} {{ user.last_name }} Liste de suivi:</p>


        {% if suivobslist %}
          <ul>

            {% for s in suivobslist %} 
            <li>
              <a href ="{% url 'suivi_detail' s.id %}">{{s.suivobs_date}}</a> {{ s.typsuivi }} {{s.joueur}}        
            </li>
            {% endfor %}
          </ul>
        
          {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}"> prec </a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}"> suiv </a>
                    {% endif %}

                    <p><a href="{{request.path }}?page=1"><i class="fas fa-undo"></i></a></p>

                   
          {% endif %}
                </span>
            </div>
          
        {% else %}
            {% if user.is_staff%}
              <p> Aucun suivi effectué à ce jour</p>
            {% else %}
              <p>Vous n'avez pas encore fait l'objet de suivi par nos coaches.</p>
            {% endif %}
        {% endif %}
      </div>
    </div>
{% endblock %}