{% extends "base_fixe.html" %}
{% block sidenav %}
    <li class="nav-item">
            <a class="nav-link" href="/"> Footexperts </a>
        </li>
{% endblock sidenav %}

{% block formulaire %}
    <div class="bgimg-4">
      <div class="caption-contact">
        <h1>Liste de suivi: </h1>
      {% if user.is_staff %}
        {% if suivobslist %}
            <p><a href =" {% url 'client_list' %}"><i class="fas fa-undo"></i></a></p>
        
        <ul>

          {% for suiviclient in suivobslist %}
              
            <li>
              <a href="{% url 'suivi_detail' suiviclient.pk %}">{{suiviclient.suivobs_date}}</a> ({{ suiviclient.typsuivi }}) {{ suiviclient.joueur }}       
            </li>
            
          {% endfor %}
        </ul>
        {% if is_paginated %}
          <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
                <p><a href="{{request.path }}?page=1"><i class="fas fa-undo"></i></a></p>
            </span>
          </div>
        {% endif %}
    
  {% endif %} 
  {% else %}
  <p> Vous n'avez pas accès à cette page</p>
  {% endif %}       
      </div>
    </div>
    
  
  
  
{% endblock %}