{% extends 'base_fixe.html' %}

{% block sidenav %}
    <li class="nav-item">
            <a class="nav-link" href="/"> Footexperts </a>
        </li>
{% endblock sidenav %}

{% block formulaire %}
    <div class ="bgimg-4">
        <div class="caption">
        <p> page de détail de suivi: </p>
        <h2>{{ object.joueur }}</h2>
        <p> DATE: {{ object.suivobs_date }} COACH: {{ object.coach }} </p>
        <p> THEME: {{object.suivobs_theme}}</p>
        <p> OBSERVATIONS: {{object.suivobs_observation}}</p>

        {% if user.is_staff%}
            <a href="{% url 'suivobs_creation' object.joueur.id %}">Nouveau Suivi</a>
        
        {% endif %}        
        </div>            
    </div>
{% endblock formulaire %}